* {
    margin: 0px;
    padding: 0px;
}

.menu-container {
    color: white;
    background-color: black;
    padding: 20px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.logo-photo {
    width: 120px;

}

.menus {
    display: flex;
}

.item {
    margin-right: 10px;
    padding-right: 8px;
    font-size: 18px;
    cursor: pointer;

}

.item:hover {
    color: crimson;
}

.banner-img {
    width: 300px;
}

.banner-container {
    color: white;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    /*vertical-height*/
    /* border:2px solid gray; */
    align-items: center;
    background-image: url("./image/background.png"),
        linear-gradient(45deg, rgb(8, 8, 0), #6d1e1e);
}

.title {
    font-size: 55px;
    font: weight 800px;
}

.description{
    font-size: 17px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.btn {
    padding: 10px 20px;
    background-color: rgb(216, 209, 209);
    color: rgb(71, 22, 22);
    border: none;
    border-radius: 20px;
}

.btn:hover {
    color: rgb(46, 168, 87);
    cursor: pointer;
}

.new {
    text-align: center;
    padding-top: 10px;
    font-size: 40px;

}

.about-container {
    display: flex;
    padding:30px;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.btn2
{  margin-top:10px;
    padding: 10px 20px;
    background-color: rgb(216, 209, 209);
    color: rgb(71, 22, 22);
    border: none;
    border-radius: 5px;}
    .btn:hover {
        color: rgb(46, 168, 87);
        cursor: pointer;}
    .box{
        width: 200px;
        height: 300px;
        box-shadow: 4px 2px 15px gray;
        background-color: black;
        text-align: center;
        color: white;
        border-radius: 20px;

    }
   .icon{
    width:70px;
   }
   .box-btn{
    background-color: gray;
    margin-top: 10px;
   }
   .box-title{
    padding:10px;
   }
   .box-description{
    padding:5px;
   }
   .service-container
   {display: flex;
    justify-content: space-around;
    background-image: url("./image/background.png"), linear-gradient(45deg, rgb(8, 8, 0), #101010) ;     
    padding:124px;
    margin:1px;
    
}
.last-head
{   
    color:white;
    position: absolute;
    text-align: center;
    padding-left: 650px;
    padding-top: 50px;
    font: size 54px;
    
}
.foot{background-color: black;}
.foot-logo{
    width: 150px;
    padding: 20px 30px;
}
.sec-1{
    padding:20px 50px;
    display: flex;
    justify-content: space-around;
}
.f1{color: white;
border:20px}